*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

body{
    height: 100%;
    max-width: 100%;
    font-family: "Delius", cursive;
    background-color: rgba(165, 73, 73, 0.79);
}

.header{
    font-size: 40px;
    text-align: center;
    color: rgb(56, 69, 77);
    padding: 20px;
    font-weight: bold;
}

.login{
    box-shadow: 3px 3px 10px rgba(119, 136, 153, 1);
    padding: 30px;
    text-align: center;
    margin: 1% auto;
    width: 55%;
    background-color: rgba(119, 136, 153, 0.895);
    border-radius: 10px;
}

.login label{
    font-size: 20px;
    color: rgb(32, 42, 47);
    display: block;
    text-align: left;
}

.login input{
    border: 5px solid antiquewhite;
    border-radius: 5px;
    width: 85%;
    background-color: antiquewhite;
    height: 40px;
    margin-bottom: 5px;

}

.field{
    margin: 20px;
}

.submit-btn{
    border-radius: 10px;
    background-color: rgb(32, 42, 47);
    color: antiquewhite;
    padding: 15px 40px;
    margin: 20px;
    transition: all 1s linear;
}

.login input:focus{
    outline: 3px solid rgb(78, 95, 102);

}

.submit-btn:hover{
    color: rgb(32, 42, 47);
    background-color: antiquewhite;
    animation: btn 3s linear;
}

@keyframes btn {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.05);
    }
    
}

.validation-message{
    text-align: left;
    margin-left: 10%;
    color: rgb(128, 38, 38);
}

.valid{
    text-align: left;
    margin-left: 10%;
    color: rgb(4, 62, 4);
}


@media (max-width:432px) {
    .header{
        font-size: 25px;
    }
    .login{
        width:90%;
    }
    
}


